@import "../../mixins";

$image-border-width: 8px;
$image-border-circle-radius: 25px;
$picture-frame-border-color: #000;
$image-border-circle-radius-with-border:
        $image-border-circle-radius + $image-border-width;

@include component-style('picture-frame') {
  @include absolute-fill();
  display: block;
}

.picture-frame__border,
.picture-frame__corner {
  position: absolute;
}

.picture-frame__border {
  background: $picture-frame-border-color;
}

.picture-frame__border--left {
  left: 0;
}

.picture-frame__border--right {
  right: 0;
}

.picture-frame__border--bottom {
  bottom: 0;
}

.picture-frame__border--top {
  top: 0;
}

.picture-frame__border--bottom,
.picture-frame__border--top {
  left: $image-border-circle-radius-with-border;
  right: $image-border-circle-radius-with-border;
  height: $image-border-width;
  width: calc(100% - #{$image-border-circle-radius-with-border * 2});
}

.picture-frame__border--left,
.picture-frame__border--right {
  bottom: $image-border-circle-radius-with-border;
  top: $image-border-circle-radius-with-border;
  height: calc(100% - #{$image-border-circle-radius-with-border * 2});
  width: $image-border-width;
}

.picture-frame__corner {
  border: $image-border-width solid $picture-frame-border-color;
  border-radius: 2 * $image-border-circle-radius - 5px;
  width: 2 * $image-border-circle-radius;
  height: 2 * $image-border-circle-radius;
}

.picture-frame__corner--top-left,
.picture-frame__corner--top-right {
  top: -$image-border-circle-radius;
}

.picture-frame__corner--bottom-left,
.picture-frame__corner--bottom-right {
  bottom: -$image-border-circle-radius;
}

.picture-frame__corner--bottom-right,
.picture-frame__corner--top-right {
  right: -$image-border-circle-radius;
}

.picture-frame__corner--top-left,
.picture-frame__corner--bottom-left {
  left: -$image-border-circle-radius;
}

.picture-frame__content {
  margin: $image-border-circle-radius * 2;
}
