picture-frame, .rga-bg, .nerds-bg, .nerds, .nerds-logo, #avp .avp-bg, .dcm-bg, .job__logo-container, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame {
  display: block; }

.picture-frame__border,
.picture-frame__corner {
  position: absolute; }

.picture-frame__border {
  background: #000; }

.picture-frame__border--left {
  left: 0; }

.picture-frame__border--right {
  right: 0; }

.picture-frame__border--bottom {
  bottom: 0; }

.picture-frame__border--top {
  top: 0; }

.picture-frame__border--bottom,
.picture-frame__border--top {
  left: 33px;
  right: 33px;
  height: 8px;
  width: calc(100% - 66px); }

.picture-frame__border--left,
.picture-frame__border--right {
  bottom: 33px;
  top: 33px;
  height: calc(100% - 66px);
  width: 8px; }

.picture-frame__corner {
  border: 8px solid #000;
  border-radius: 45px;
  width: 50px;
  height: 50px; }

.picture-frame__corner--top-left,
.picture-frame__corner--top-right {
  top: -25px; }

.picture-frame__corner--bottom-left,
.picture-frame__corner--bottom-right {
  bottom: -25px; }

.picture-frame__corner--bottom-right,
.picture-frame__corner--top-right {
  right: -25px; }

.picture-frame__corner--top-left,
.picture-frame__corner--bottom-left {
  left: -25px; }

.picture-frame__content {
  margin: 50px; }

picture-frame, .rga-bg, .nerds-bg, .nerds, .nerds-logo, #avp .avp-bg, .dcm-bg, .job__logo-container, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#hero {
  text-align: center; }
  #hero portfolio-page-image {
    background-image: url(../img/hero.JPG);
    background-position: 79% 50%;
    background-size: cover;
    filter: saturate(90%) contrast(110%) brightness(110%); }
    @media (min-width: 1024px) {
      #hero portfolio-page-image {
        background-position: 83% 50%; } }
  #hero .contact-info {
    font-size: 40px; }
    @media false {
      #hero .contact-info {
        font-size: 25px; } }
    @media (min-width: 1024px) {
      #hero .contact-info {
        font-size: 20px; } }
  #hero .name {
    font-size: 100px;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 0; }
    @media false {
      #hero .name {
        font-size: 70px; } }
    @media (min-width: 1024px) {
      #hero .name {
        font-size: 50px; } }
    @media (min-width: 1920px) {
      #hero .name {
        font-size: 80px; } }
  #hero p {
    text-align: left; }
  #hero .social-links {
    display: inline-block;
    margin-top: 20px;
    text-align: left; }
    @media false {
      #hero .social-links {
        margin-top: 0; } }
  #hero .social-link {
    font-weight: 400;
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 40px;
    margin: 15px; }
    @media false {
      #hero .social-link {
        font-size: 25px; } }
    @media (min-width: 1024px) {
      #hero .social-link {
        font-size: 20px; } }
    @media (min-width: 1360px) {
      #hero .social-link {
        font-size: 25px; } }
  #hero .social-icon {
    margin: -1px 15px 0 0;
    width: 60px; }
    @media false {
      #hero .social-icon {
        width: 25px; } }
    @media (min-width: 1024px) {
      #hero .social-icon {
        width: 30px; } }
    @media (min-width: 1360px) {
      #hero .social-icon {
        width: 40px; } }

.rga-bg {
  background: url(../img/rga-bg.jpg) center center;
  filter: saturate(10%) brightness(35%);
  background-size: cover; }

.rga-google {
  margin-top: 10%; }

.google-logo,
.rga-logo {
  width: 100%; }

.rga-logo {
  margin-bottom: 10px;
  position: relative; }

.rga-block {
  background: #e51837;
  display: inline-block;
  margin: 2% 0 0 2%;
  padding-top: 21%;
  width: 21%; }

.rga-type {
  color: #fff;
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 2%;
  width: 70%; }

.at-symbol {
  color: #fff;
  display: inline-block;
  font-size: 40px;
  margin: 0; }

.google-logo {
  display: inline-block; }

picture-frame, .rga-bg, .nerds-bg, .nerds, .nerds-logo, #avp .avp-bg, .dcm-bg, .job__logo-container, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.nerds-bg {
  background: url(../img/nerds-bg.jpg);
  background-position: right bottom;
  filter: saturate(0) contrast(10%) brightness(175%);
  background-size: cover; }

.nerds {
  display: flex;
  align-items: center;
  justify-content: center; }

.nerds-logo {
  filter: drop-shadow(0 3px 1px #000);
  max-width: 100%; }

#avp .avp-bg {
  background: url(../img/avp-bg.jpg) center center;
  filter: saturate(0) brightness(20%) contrast(110%);
  background-size: cover; }

#avp .avp-image {
  align-items: center;
  background: #fff;
  border-radius: 0;
  display: flex;
  justify-content: center;
  width: 90%;
  height: calc(90% - 3px); }

.dcm-bg {
  background: url(../img/dcm-bg.jpg) center bottom;
  filter: saturate(0) contrast(20%) brightness(175%);
  background-size: cover; }

.dcm-logo {
  position: relative;
  filter: brightness(0%);
  width: 90%; }

picture-frame, .rga-bg, .nerds-bg, .nerds, .nerds-logo, #avp .avp-bg, .dcm-bg, .job__logo-container, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame {
  display: block; }

.picture-frame__border,
.picture-frame__corner {
  position: absolute; }

.picture-frame__border {
  background: #000; }

.picture-frame__border--left {
  left: 0; }

.picture-frame__border--right {
  right: 0; }

.picture-frame__border--bottom {
  bottom: 0; }

.picture-frame__border--top {
  top: 0; }

.picture-frame__border--bottom,
.picture-frame__border--top {
  left: 33px;
  right: 33px;
  height: 8px;
  width: calc(100% - 66px); }

.picture-frame__border--left,
.picture-frame__border--right {
  bottom: 33px;
  top: 33px;
  height: calc(100% - 66px);
  width: 8px; }

.picture-frame__corner {
  border: 8px solid #000;
  border-radius: 45px;
  width: 50px;
  height: 50px; }

.picture-frame__corner--top-left,
.picture-frame__corner--top-right {
  top: -25px; }

.picture-frame__corner--bottom-left,
.picture-frame__corner--bottom-right {
  bottom: -25px; }

.picture-frame__corner--bottom-right,
.picture-frame__corner--top-right {
  right: -25px; }

.picture-frame__corner--top-left,
.picture-frame__corner--bottom-left {
  left: -25px; }

.picture-frame__content {
  margin: 50px; }

picture-frame, .rga-bg, .nerds-bg, .nerds, .nerds-logo, #avp .avp-bg, .dcm-bg, .job__logo-container, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.job__company {
  bottom: 20px;
  font-size: 35px;
  font-weight: 300;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }
  @media false {
    .job__company {
      font-size: 25px; } }
  @media (min-width: 1024px) {
    .job__company {
      font-size: 20px; } }

@media false {
  .job__title {
    font-size: 30px; } }

@media (min-width: 1024px) {
  .job__title {
    font-size: 40px; } }

.job__title,
.job__time-worked {
  margin: 0; }

.job__logo {
  margin-top: -15%;
  padding-top: 35%;
  position: relative;
  width: 35%; }
  @media false {
    .job__logo {
      margin-top: -20px;
      padding-top: 20%;
      width: 20%; } }
  @media (min-width: 1024px) {
    .job__logo {
      margin-top: -25%;
      padding-top: 75%;
      width: 75%; } }

.job__logo-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; }

.job__time-worked {
  font-size: 25px;
  font-style: italic; }
  @media false {
    .job__time-worked {
      font-size: 15px;
      font-style: normal; } }
  @media (min-width: 1024px) {
    .job__time-worked {
      font-size: 25px; } }

picture-frame, .rga-bg, .nerds-bg, .nerds, .nerds-logo, #avp .avp-bg, .dcm-bg, .job__logo-container, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame, .rga-bg, .nerds-bg, .nerds, .nerds-logo, #avp .avp-bg, .dcm-bg, .job__logo-container, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame {
  display: block; }

.picture-frame__border,
.picture-frame__corner {
  position: absolute; }

.picture-frame__border {
  background: #000; }

.picture-frame__border--left {
  left: 0; }

.picture-frame__border--right {
  right: 0; }

.picture-frame__border--bottom {
  bottom: 0; }

.picture-frame__border--top {
  top: 0; }

.picture-frame__border--bottom,
.picture-frame__border--top {
  left: 33px;
  right: 33px;
  height: 8px;
  width: calc(100% - 66px); }

.picture-frame__border--left,
.picture-frame__border--right {
  bottom: 33px;
  top: 33px;
  height: calc(100% - 66px);
  width: 8px; }

.picture-frame__corner {
  border: 8px solid #000;
  border-radius: 45px;
  width: 50px;
  height: 50px; }

.picture-frame__corner--top-left,
.picture-frame__corner--top-right {
  top: -25px; }

.picture-frame__corner--bottom-left,
.picture-frame__corner--bottom-right {
  bottom: -25px; }

.picture-frame__corner--bottom-right,
.picture-frame__corner--top-right {
  right: -25px; }

.picture-frame__corner--top-left,
.picture-frame__corner--bottom-left {
  left: -25px; }

.picture-frame__content {
  margin: 50px; }

.slant-grouping--4:hover > *:nth-child(1) {
  left: 0; }

.slant-grouping--4:hover > *:nth-child(2) {
  left: 0; }

.slant-grouping--4:hover > *:nth-child(3) {
  right: 0; }

.slant-grouping--4:hover > *:nth-child(4) {
  right: 0; }

.slant-grouping--4 > * {
  position: relative;
  transition: left 500ms, right 500ms; }
  .slant-grouping--4 > *:nth-child(1) {
    left: -4%; }
  .slant-grouping--4 > *:nth-child(2) {
    left: -1%; }
  .slant-grouping--4 > *:nth-child(3) {
    right: -1%; }
  .slant-grouping--4 > *:nth-child(4) {
    right: -4%; }

portfolio-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 5vw);
  justify-content: center;
  padding: 5% calc(5% + 50px) 5% 5%;
  position: relative;
  width: calc(90% - 50px);
  z-index: 50; }
  portfolio-page:nth-child(odd) {
    background-color: #000;
    color: #fff;
    stroke: currentColor;
    fill: currentColor; }
    @media (min-width: 1024px) {
      portfolio-page:nth-child(odd) {
        flex-direction: row; }
        portfolio-page:nth-child(odd) portfolio-section:nth-child(1) {
          margin-right: 0; }
        portfolio-page:nth-child(odd) portfolio-section:nth-child(2) {
          margin-left: 0; } }
    portfolio-page:nth-child(odd) hr,
    portfolio-page:nth-child(odd) .picture-frame__border {
      background: #fff; }
    portfolio-page:nth-child(odd) portfolio-page-image {
      background: #fff; }
    portfolio-page:nth-child(odd) .picture-frame__corner {
      background: #000;
      border-color: #fff; }
    portfolio-page:nth-child(odd) .job__company {
      color: #000; }
    portfolio-page:nth-child(odd) a {
      color: #88F;
      stroke: #88F;
      fill: #88F; }
  portfolio-page:nth-child(even) {
    background-color: #fff;
    color: #000;
    stroke: currentColor;
    fill: currentColor; }
    @media (min-width: 1024px) {
      portfolio-page:nth-child(even) {
        flex-direction: row-reverse; }
        portfolio-page:nth-child(even) portfolio-section:nth-child(1) {
          margin-left: 0; }
        portfolio-page:nth-child(even) portfolio-section:nth-child(2) {
          margin-right: 0; } }
    portfolio-page:nth-child(even) hr,
    portfolio-page:nth-child(even) .picture-frame__border {
      background: #000; }
    portfolio-page:nth-child(even) portfolio-page-image {
      background: #000; }
    portfolio-page:nth-child(even) .picture-frame__corner {
      background: #fff;
      border-color: #000; }
    portfolio-page:nth-child(even) .job__company {
      color: #fff; }
    portfolio-page:nth-child(even) a {
      color: #22C;
      stroke: #22C;
      fill: #22C; }

portfolio-section {
  display: inline-block;
  flex: 1;
  float: left;
  height: 75%;
  overflow: hidden;
  position: relative;
  width: 90%; }
  portfolio-section:nth-child(1) {
    margin-top: 25px; }
  portfolio-section:nth-child(2) {
    flex: 2; }
  @media (min-width: 1024px) {
    portfolio-section {
      max-width: 500px;
      width: 40%; }
      portfolio-section:nth-child(1) {
        margin-top: 0; }
      portfolio-section:nth-child(2) {
        flex: 1;
        max-width: 750px;
        width: 60%; } }

portfolio-section-container {
  display: block;
  overflow: hidden; }

portfolio-content {
  margin: 50px;
  overflow-x: hidden;
  overflow-y: auto; }

portfolio-page-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  padding: 50px; }

.portfolio {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  height: 100%;
  width: 100%; }
  .portfolio a {
    text-decoration: none;
    transition: transform 500ms, text-shadow 500ms; }
    .portfolio a:hover {
      transform: translate(-1px, -1px);
      text-decoration: underline;
      filter: brightness(125%); }
  .portfolio hr {
    border: none;
    height: 5px;
    position: relative; }
    @media (min-width: 1024px) {
      .portfolio hr {
        height: 3px; } }
    @media (min-width: 1360px) {
      .portfolio hr {
        height: 5px; } }
  .portfolio h1,
  .portfolio h2,
  .portfolio h3 {
    font-weight: 400; }

.fine-print {
  font-size: 10px; }

.portfolio__navigation {
  align-items: center;
  display: flex;
  font-size: 60px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
  .portfolio__navigation ul li {
    color: #999; }
    .portfolio__navigation ul li:hover {
      color: #ccc; }

picture-frame, .rga-bg, .nerds-bg, .nerds, .nerds-logo, #avp .avp-bg, .dcm-bg, .job__logo-container, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame, .rga-bg, .nerds-bg, .nerds, .nerds-logo, #avp .avp-bg, .dcm-bg, .job__logo-container, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame {
  display: block; }

.picture-frame__border,
.picture-frame__corner {
  position: absolute; }

.picture-frame__border {
  background: #000; }

.picture-frame__border--left {
  left: 0; }

.picture-frame__border--right {
  right: 0; }

.picture-frame__border--bottom {
  bottom: 0; }

.picture-frame__border--top {
  top: 0; }

.picture-frame__border--bottom,
.picture-frame__border--top {
  left: 33px;
  right: 33px;
  height: 8px;
  width: calc(100% - 66px); }

.picture-frame__border--left,
.picture-frame__border--right {
  bottom: 33px;
  top: 33px;
  height: calc(100% - 66px);
  width: 8px; }

.picture-frame__corner {
  border: 8px solid #000;
  border-radius: 45px;
  width: 50px;
  height: 50px; }

.picture-frame__corner--top-left,
.picture-frame__corner--top-right {
  top: -25px; }

.picture-frame__corner--bottom-left,
.picture-frame__corner--bottom-right {
  bottom: -25px; }

.picture-frame__corner--bottom-right,
.picture-frame__corner--top-right {
  right: -25px; }

.picture-frame__corner--top-left,
.picture-frame__corner--bottom-left {
  left: -25px; }

.picture-frame__content {
  margin: 50px; }

.projects {
  margin: 15px 0; }
  @media (min-width: 1024px) {
    .projects {
      margin: 10px 0; } }
  @media (min-width: 1360px) {
    .projects {
      margin: 20px 0; } }

project {
  display: block;
  margin: 20px 0; }
  @media false {
    project {
      margin: 5px; } }
  @media (min-width: 1024px) {
    project {
      margin: 10px 0; } }
  @media (min-width: 1360px) {
    project {
      margin: 15px 0; } }
  project:hover .project__details-toggle-arrow {
    transform: rotate(-3deg) scale(1.05); }

.project__title {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 40px;
  height: 35px; }
  @media false {
    .project__title {
      font-size: 20px; } }
  @media (min-width: 1024px) {
    .project__title {
      font-size: 20px; } }

.project__details {
  font-size: 32px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s, opacity 0.5s; }
  .project__details .project__link {
    display: inline-block;
    margin-bottom: 15px; }
  @media false {
    .project__details,
    .project__details .project__link {
      font-size: 16px;
      line-height: 16px; }
      .project__details .project__link-arrow,
      .project__details .project__link .project__link-arrow {
        width: 16px;
        height: 16px; } }
  @media (min-width: 1024px) {
    .project__details {
      font-size: 14px;
      line-height: 18px; }
      .project__details .project__link {
        display: none; } }
  @media (min-width: 1360px) {
    .project__details {
      font-size: 16px;
      line-height: 20px; } }

.project__details-toggle-arrow {
  height: 20px;
  margin: 0 10px;
  transform: rotate(0deg);
  transition: transform 300ms;
  width: 20px; }

.project__link {
  display: none;
  font-size: 30px;
  position: relative;
  z-index: 99; }
  .project__link a {
    display: flex;
    align-items: center; }
  .project__link .project__link-arrow {
    height: 30px;
    margin-left: 10px;
    width: 30px; }
  @media (min-width: 1024px) {
    .project__link {
      display: inline-block;
      font-size: 14px; }
      .project__link .project__link-arrow {
        margin-left: 5px;
        height: 14px;
        width: 14px; } }

.project__name-and-link {
  display: flex;
  flex: 1;
  flex-direction: column; }

.project__name {
  align-items: center;
  display: flex;
  justify-content: space-between; }

.project__expand-button-container {
  position: relative; }

.project__expand-button {
  cursor: pointer;
  height: 100%;
  margin: 0;
  opacity: 0;
  width: 100%;
  z-index: 0; }
  .project__expand-button:checked {
    display: none; }
    .project__expand-button:checked ~ .project__title {
      cursor: default; }
      .project__expand-button:checked ~ .project__title .project__details-toggle-arrow {
        transform: rotate(90deg); }
    .project__expand-button:checked ~ .project__details {
      max-height: 345px;
      opacity: 1;
      transition: max-height 0.5s, opacity 0.5s; }
      @media (min-width: 1024px) {
        .project__expand-button:checked ~ .project__details {
          max-height: 100px; } }
