picture-frame, portfolio-page:nth-child(1) picture-frame, .rga-bg, .nerds-bg, .nerds, #avp .avp-bg, .dcm-bg, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame, portfolio-page:nth-child(1) picture-frame {
  display: block; }

.picture-frame__border,
.picture-frame__corner {
  position: absolute; }

.picture-frame__border {
  background: #000; }

.picture-frame__border--left {
  left: 0; }

.picture-frame__border--right {
  right: 0; }

.picture-frame__border--bottom {
  bottom: 0; }

.picture-frame__border--top {
  top: 0; }

.picture-frame__border--bottom,
.picture-frame__border--top {
  left: 33px;
  right: 33px;
  height: 8px;
  width: calc(100% - $image-border-circle-radius); }

.picture-frame__border--left,
.picture-frame__border--right {
  bottom: 33px;
  top: 33px;
  height: calc(100% - $image-border-circle-radius);
  width: 8px; }

.picture-frame__corner {
  border: 8px solid #000;
  border-radius: 50px;
  width: 50px;
  height: 50px; }

.picture-frame__corner--top-left,
.picture-frame__corner--top-right {
  top: -25px; }

.picture-frame__corner--bottom-left,
.picture-frame__corner--bottom-right {
  bottom: -25px; }

.picture-frame__corner--bottom-right,
.picture-frame__corner--top-right {
  right: -25px; }

.picture-frame__corner--top-left,
.picture-frame__corner--bottom-left {
  left: -25px; }

.picture-frame__content {
  margin: 50px; }

picture-frame, portfolio-page:nth-child(1) picture-frame, .rga-bg, .nerds-bg, .nerds, #avp .avp-bg, .dcm-bg, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

portfolio-page:nth-child(1) {
  text-align: center; }
  portfolio-page:nth-child(1) picture-frame {
    background-image: url(../img/hero.JPG);
    background-position: 83% 50%;
    background-size: cover;
    filter: saturate(90%) contrast(110%) brightness(110%); }
  portfolio-page:nth-child(1) .contact-info {
    font-size: 25px; }
  portfolio-page:nth-child(1) .name {
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 80px;
    line-height: 80px;
    margin-top: 0; }
  portfolio-page:nth-child(1) p {
    text-align: left; }
  portfolio-page:nth-child(1) .social-links {
    display: inline-block;
    text-align: left; }
  portfolio-page:nth-child(1) .social-link {
    font-weight: 400;
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 25px;
    margin: 15px; }
  portfolio-page:nth-child(1) .social-icon {
    margin: -1px 15px 0 0;
    width: 40px; }

.rga-bg {
  background: url(../img/rga-bg.jpg);
  filter: saturate(10%) blur(1px) contrast(50%) brightness(225%);
  background-size: cover; }

.rga-google {
  align-items: center;
  display: flex;
  filter: drop-shadow(1px 1px 1px #777);
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 70%; }

.google-logo,
.rga-logo {
  width: 50%;
  flex-grow: 1; }

.rga-logo {
  align-items: flex-start;
  display: inline-flex;
  margin-bottom: 10px; }

.rga-block {
  background: #e51837;
  display: inline-block;
  margin: 0.4% 7% 0 0;
  padding-top: 20%;
  width: 20%; }

.rga-type {
  display: inline-block;
  width: 72%; }

.at-symbol {
  display: inline-block;
  font-size: 40px;
  margin: 0; }

.google-logo {
  display: inline-block; }

picture-frame, portfolio-page:nth-child(1) picture-frame, .rga-bg, .nerds-bg, .nerds, #avp .avp-bg, .dcm-bg, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.nerds-bg {
  background: url(../img/nerds-bg.jpg);
  filter: saturate(0) blur(2px) contrast(50%) brightness(25%);
  background-size: cover; }

.nerds {
  display: flex;
  align-items: center;
  justify-content: center; }

.nerds-logo {
  width: 50%;
  filter: drop-shadow(1px 1px 1px #000); }

#avp .avp-bg {
  background: url(../img/avp-bg.jpg);
  filter: saturate(0) blur(1px) contrast(50%) brightness(225%);
  background-size: cover; }

#avp .avp-image {
  background: #fff;
  border-radius: 0;
  box-shadow: 2px 2px 5px 0 #777;
  padding: 5.5% 6% 6%;
  position: relative; }

#avp .project__logo {
  background: #fff;
  box-shadow: 1px 1px 2px 0 #777;
  max-width: 38px;
  max-height: 38px;
  margin: 0 11px 0 0;
  padding: 3px; }

.dcm-bg {
  background: url(../img/dcm-bg.jpg);
  filter: saturate(0) blur(2px) contrast(50%) brightness(25%);
  background-size: cover; }

.dcm-logo {
  position: relative;
  filter: drop-shadow(1px 1px 1px #000); }

picture-frame, portfolio-page:nth-child(1) picture-frame, .rga-bg, .nerds-bg, .nerds, #avp .avp-bg, .dcm-bg, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame, portfolio-page:nth-child(1) picture-frame {
  display: block; }

.picture-frame__border,
.picture-frame__corner {
  position: absolute; }

.picture-frame__border {
  background: #000; }

.picture-frame__border--left {
  left: 0; }

.picture-frame__border--right {
  right: 0; }

.picture-frame__border--bottom {
  bottom: 0; }

.picture-frame__border--top {
  top: 0; }

.picture-frame__border--bottom,
.picture-frame__border--top {
  left: 33px;
  right: 33px;
  height: 8px;
  width: calc(100% - $image-border-circle-radius); }

.picture-frame__border--left,
.picture-frame__border--right {
  bottom: 33px;
  top: 33px;
  height: calc(100% - $image-border-circle-radius);
  width: 8px; }

.picture-frame__corner {
  border: 8px solid #000;
  border-radius: 50px;
  width: 50px;
  height: 50px; }

.picture-frame__corner--top-left,
.picture-frame__corner--top-right {
  top: -25px; }

.picture-frame__corner--bottom-left,
.picture-frame__corner--bottom-right {
  bottom: -25px; }

.picture-frame__corner--bottom-right,
.picture-frame__corner--top-right {
  right: -25px; }

.picture-frame__corner--top-left,
.picture-frame__corner--bottom-left {
  left: -25px; }

.picture-frame__content {
  margin: 50px; }

.job__company {
  bottom: 50px;
  font-weight: 300;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 20px; }

.job__title,
.job__time-worked {
  margin: 0; }

.job__time-worked {
  font-size: 25px; }

picture-frame, portfolio-page:nth-child(1) picture-frame, .rga-bg, .nerds-bg, .nerds, #avp .avp-bg, .dcm-bg, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame, portfolio-page:nth-child(1) picture-frame, .rga-bg, .nerds-bg, .nerds, #avp .avp-bg, .dcm-bg, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame, portfolio-page:nth-child(1) picture-frame {
  display: block; }

.picture-frame__border,
.picture-frame__corner {
  position: absolute; }

.picture-frame__border {
  background: #000; }

.picture-frame__border--left {
  left: 0; }

.picture-frame__border--right {
  right: 0; }

.picture-frame__border--bottom {
  bottom: 0; }

.picture-frame__border--top {
  top: 0; }

.picture-frame__border--bottom,
.picture-frame__border--top {
  left: 33px;
  right: 33px;
  height: 8px;
  width: calc(100% - $image-border-circle-radius); }

.picture-frame__border--left,
.picture-frame__border--right {
  bottom: 33px;
  top: 33px;
  height: calc(100% - $image-border-circle-radius);
  width: 8px; }

.picture-frame__corner {
  border: 8px solid #000;
  border-radius: 50px;
  width: 50px;
  height: 50px; }

.picture-frame__corner--top-left,
.picture-frame__corner--top-right {
  top: -25px; }

.picture-frame__corner--bottom-left,
.picture-frame__corner--bottom-right {
  bottom: -25px; }

.picture-frame__corner--bottom-right,
.picture-frame__corner--top-right {
  right: -25px; }

.picture-frame__corner--top-left,
.picture-frame__corner--bottom-left {
  left: -25px; }

.picture-frame__content {
  margin: 50px; }

.slant-grouping--4:hover > *:nth-child(1) {
  left: 0; }

.slant-grouping--4:hover > *:nth-child(2) {
  left: 0; }

.slant-grouping--4:hover > *:nth-child(3) {
  right: 0; }

.slant-grouping--4:hover > *:nth-child(4) {
  right: 0; }

.slant-grouping--4 > * {
  position: relative;
  transition: left 500ms, right 500ms; }
  .slant-grouping--4 > *:nth-child(1) {
    left: -4%; }
  .slant-grouping--4 > *:nth-child(2) {
    left: -1%; }
  .slant-grouping--4 > *:nth-child(3) {
    right: -1%; }
  .slant-grouping--4 > *:nth-child(4) {
    right: -4%; }

portfolio-section {
  display: inline-block;
  float: left;
  height: 75%;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  width: 40%; }
  portfolio-section:nth-child(2) {
    max-width: 750px;
    width: 60%; }

portfolio-section-container {
  display: block;
  margin: 5%;
  overflow: hidden; }

portfolio-content {
  margin: 50px; }

portfolio-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%; }
  portfolio-page:nth-child(odd) {
    background-color: #000;
    color: #fff;
    flex-direction: row;
    stroke: currentColor;
    fill: currentColor; }
    portfolio-page:nth-child(odd) hr, portfolio-page:nth-child(odd) .picture-frame__border {
      background: #fff; }
    portfolio-page:nth-child(odd) .picture-frame__corner {
      background: #000;
      border-color: #fff; }
    portfolio-page:nth-child(odd) a {
      color: #88F; }
  portfolio-page:nth-child(even) {
    background-color: #fff;
    color: #000;
    flex-direction: row-reverse;
    stroke: currentColor;
    fill: currentColor; }
    portfolio-page:nth-child(even) hr, portfolio-page:nth-child(even) .picture-frame__border {
      background: #000; }
    portfolio-page:nth-child(even) .picture-frame__corner {
      background: #fff;
      border-color: #000; }
    portfolio-page:nth-child(even) a {
      color: #22C; }

portfolio-page-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px; }

.portfolio {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  height: 100%;
  width: 100%; }
  .portfolio a {
    text-decoration: none;
    transition: transform 500ms, text-shadow 500ms; }
    .portfolio a:hover {
      transform: translate(-1px, -1px);
      text-decoration: underline;
      filter: brightness(125%); }
  .portfolio hr {
    border: none;
    height: 5px;
    position: relative; }
  .portfolio h1,
  .portfolio h2,
  .portfolio h3 {
    font-weight: 400; }

.fine-print {
  font-size: 10px; }

picture-frame, portfolio-page:nth-child(1) picture-frame, .rga-bg, .nerds-bg, .nerds, #avp .avp-bg, .dcm-bg, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame, portfolio-page:nth-child(1) picture-frame, .rga-bg, .nerds-bg, .nerds, #avp .avp-bg, .dcm-bg, portfolio-section-container, portfolio-content, portfolio-page-image, .portfolio, .project__expand-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

picture-frame, portfolio-page:nth-child(1) picture-frame {
  display: block; }

.picture-frame__border,
.picture-frame__corner {
  position: absolute; }

.picture-frame__border {
  background: #000; }

.picture-frame__border--left {
  left: 0; }

.picture-frame__border--right {
  right: 0; }

.picture-frame__border--bottom {
  bottom: 0; }

.picture-frame__border--top {
  top: 0; }

.picture-frame__border--bottom,
.picture-frame__border--top {
  left: 33px;
  right: 33px;
  height: 8px;
  width: calc(100% - $image-border-circle-radius); }

.picture-frame__border--left,
.picture-frame__border--right {
  bottom: 33px;
  top: 33px;
  height: calc(100% - $image-border-circle-radius);
  width: 8px; }

.picture-frame__corner {
  border: 8px solid #000;
  border-radius: 50px;
  width: 50px;
  height: 50px; }

.picture-frame__corner--top-left,
.picture-frame__corner--top-right {
  top: -25px; }

.picture-frame__corner--bottom-left,
.picture-frame__corner--bottom-right {
  bottom: -25px; }

.picture-frame__corner--bottom-right,
.picture-frame__corner--top-right {
  right: -25px; }

.picture-frame__corner--top-left,
.picture-frame__corner--bottom-left {
  left: -25px; }

.picture-frame__content {
  margin: 50px; }

.projects {
  margin: 22px 0; }

project {
  display: block;
  margin: 15px 0; }
  project:hover .project__logo, project:hover .project__details-toggle-arrow {
    transform: rotate(-3deg) scale(1.02); }

.project__title {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 35px; }

.project__logo,
.project__details-toggle-arrow {
  transition: transform 300ms; }

.project__logo {
  height: 30px;
  width: 30px;
  margin: 0 8px 0 0; }

.project__logo-img {
  max-height: 100%;
  max-width: 100%; }

.project__details {
  max-height: 0;
  opacity: 0;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  transition: max-height 0.5s, opacity 0.5s; }
  .project__details ul {
    margin: 10px; }
    .project__details ul li {
      list-style: square; }

.project__details-toggle-arrow {
  height: 20px;
  margin: 0 10px;
  transform: rotate(0deg);
  width: 20px; }

.project__link {
  font-size: 14px;
  position: relative;
  z-index: 99; }

.project__name-and-link {
  display: flex;
  flex: 1;
  flex-direction: column; }

.project__name {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 20px; }

.project__expand-button-container {
  position: relative; }

.project__expand-button {
  cursor: pointer;
  height: 100%;
  margin: 0;
  opacity: 0;
  width: 100%;
  z-index: 0; }
  .project__expand-button:checked {
    display: none; }
    .project__expand-button:checked ~ .project__title {
      cursor: default; }
      .project__expand-button:checked ~ .project__title .project__details-toggle-arrow {
        transform: rotate(90deg); }
    .project__expand-button:checked ~ .project__details {
      max-height: 200px;
      opacity: 1;
      transition: max-height 0.5s, opacity 0.5s; }
