@import '../job-information';

$avp-logo-bg-color: #fff;

#avp {
  .avp-bg {
    @include absolute-fill();
    background: url(../img/avp-bg.jpg) center center;
    filter: saturate(0) brightness(20%) contrast(110%);
    background-size: cover;
  }

  .avp-image {
    align-items: center;
    background: $avp-logo-bg-color;
    display: flex;
    justify-content: center;
  }

  .avp-logo {
    max-width: $job__logo-image-max-size - 20px;
    height: auto;
  }
}