.dcm-bg {
  @include absolute-fill();
  background: url(../img/dcm-bg.jpg) center bottom;
  filter: saturate(0) contrast(20%) brightness(175%);
  background-size: cover;
}

.dcm-logo {
  position: relative;
  width: 90%;
}