@import '../mixins';
@import '../colors';

@include component-style('portfolio-page') {
  &:nth-child(1) {
    text-align: center;

    @include component-style('picture-frame') {
      background-image: url(../img/hero.JPG);
      background-position: 83% 50%;
      background-size: cover;
      filter: saturate(90%) contrast(110%) brightness(110%);
    }

    .contact-info {
      font-size: 25px;
    }

    .name {
      @include rokkitt-font();
      font-size: 80px;
      line-height: 80px;
      margin-top: 0;
    }

    p {
      text-align: left;
    }

    .social-links {
      display: inline-block;
      text-align: left;
    }

    .social-link {
      font-weight: 400;
      align-items: center;
      color: $color-a;
      display: flex;
      font-size: 25px;
      margin: 15px;
    }

    .social-icon {
      margin: -1px 15px 0 0;
      width: 40px;
    }
  }
}
