@import '../breakpoints';
@import '../colors';
@import '../mixins';
#hero {

  @include component-style('portfolio-page-image') {
    background-image: url(../img/hero.JPG);
    background-position: 79% 50%;
    background-size: cover;
    filter: saturate(80%) contrast(120%) brightness(130%);

    @include breakpoint($m) {
      background-position: 83% 50%;
    }
  }

  .name {
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 0;
  }

  p {
    text-align: left;
  }

  .social-links {
    display: inline-block;
    margin-top: 20px;
    text-align: left;

    @include breakpoint($s) {
      margin-top: 0;
    }
  }

  .social-link {
    font-weight: 400;
    align-items: center;
    color: $color-a;
    display: flex;
    margin: 15px;
  }

  .social-icon {
    margin: -1px 15px 0 0;
    width: 60px;

    @include breakpoint($s) {
      width: 25px;
    }

    @include breakpoint($m) {
      width: 30px;
    }
    @include breakpoint($l) {
      width: 40px;
    }
  }
}
