@import '../breakpoints';
@import '../colors';
@import '../mixins';
#hero {
  text-align: center;

  @include component-style('portfolio-page-image') {
    background-image: url(../img/hero.JPG);
    background-position: 79% 50%;
    background-size: cover;
    filter: saturate(90%) contrast(110%) brightness(110%);

    @include breakpoint($m) {
      background-position: 83% 50%;
    }
  }

  .contact-info {
    font-size: 40em / 30;

    @include breakpoint($s) {
      font-size: 25em / 30;
    }

    @include breakpoint($m) {
      font-size: 20em / 30;
    }
  }

  .name {
    font-size: 100em / 30;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 0;

    @include breakpoint($s) {
      font-size: 70em / 30;
    }

    @include breakpoint($m) {
      font-size: 50em / 30;
    }

    @include breakpoint($xl) {
      font-size: 80em / 30;
    }
  }

  p {
    text-align: left;
  }

  .social-links {
    display: inline-block;
    margin-top: 20px;
    text-align: left;

    @include breakpoint($s) {
      margin-top: 0;
    }
  }

  .social-link {
    font-weight: 400;
    align-items: center;
    color: $color-a;
    display: flex;
    font-size: 40em / 30;
    margin: 15px;

    @include breakpoint($s) {
      font-size: 25em / 30;
    }

    @include breakpoint($m) {
      font-size: 20em / 30;
    }

    @include breakpoint($l) {
      font-size: 25em / 30;
    }
  }

  .social-icon {
    margin: -1px 15px 0 0;
    width: 60px;

    @include breakpoint($s) {
      width: 25px;
    }

    @include breakpoint($m) {
      width: 30px;
    }
    @include breakpoint($l) {
      width: 40px;
    }
  }
}
