@import "../colors";
@import "../mixins";

.nerds-bg {
  @include absolute-fill();
  background: url(../img/nerds-bg.jpg);
  filter: saturate(0) contrast(10%) brightness(175%);
  background-size: cover;
}

.nerds {
  @include absolute-fill();
  display: flex;
  align-items: center;
  justify-content: center;
}

.nerds-logo {
  width: 50%;
  filter: drop-shadow(0 3px 1px #000)
}