@import "../colors";
@import "../mixins";

.nerds-bg {
  @include absolute-fill();
  background: url(../img/nerds-bg.jpg);
  background-position: right bottom;
  filter: saturate(0) contrast(10%) brightness(175%);
  background-size: cover;
}

.nerds-logo {
  filter: drop-shadow(0 3px 1px #000);
}