@import "../colors";

.rga-bg {
  @include absolute-fill();
  background: url(../img/rga-bg.jpg);
  filter: saturate(10%) blur(1px) contrast(50%) brightness(225%);
  background-size: cover;
}

.rga-google {
  align-items: center;
  display: flex;
  filter: drop-shadow(1px 1px 1px #777);
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 70%;
}

.google-logo,
.rga-logo {
  width: 50%;
  flex-grow: 1;
}

.rga-logo {
  align-items: flex-start;
  display: inline-flex;
  margin-bottom: 10px;
}

.rga-block {
  $rga-block-size: 20%;
  background: $rga-red;
  display: inline-block;
  margin: 0.4% 7% 0 0;
  padding-top: $rga-block-size;
  width: $rga-block-size;
}

.rga-type {
  display: inline-block;
  width: 72%;
}

.at-symbol {
  display: inline-block;
  font-size: 40px;
  margin: 0;
}

.google-logo {
  display: inline-block;
}
