<!DOCTYPE html>
<html lang="en" ng-app="portfolio" ng-strict-di>
<head>
    <meta charset="UTF-8">
    <title>Angus MacDonald</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400"
          rel="stylesheet">
</head>
<body>
    <div class="portfolio" ng-controller="portfolioController as p">
        <portfolio-page ng-repeat="page in p.pages"
                        ng-attr-id="{{ page.code }}"
                        job-title="{{ page.title }}"
                        job-time-worked="page.timeWorked">
            <portfolio-page-image>
                <div class="{{ page.code }}-bg"></div>
                <div class="job__logo">
                    <div class="job__logo-container"
                        ng-bind-html="page.logo">
                    </div>
                </div>
                <div class="job__company" ng-bind="page.company"></div>
            </portfolio-page-image>
            <portfolio-page-content>
                <div class="projects" id="projects">
                    <project ng-repeat="project in page.projects"
                             ng-class="{'project--empty': project.isEmpty}"
                             project-group="{{ page.code }}"
                             project-title="{{ project.title }}">
                            <p ng-repeat="paragraph in project.paragraphs"
                               ng-bind-html="paragraph"></p>
                    </project>
                </div>
            </portfolio-page-content>
        </portfolio-page>
        <div class="portfolio__navigation">
            <ul>
                <a href="#hero"><li></li></a>
                <a ng-repeat="page in p.pages"
                   ng-attr-href="#{{ page.code }}">
                    <li></li>
                </a>
            </ul>
        </div>
        <div class="fine-print">
            <div>Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div>Icons made by <a href="http://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div>Icons made by <a href="http://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="js/main.min.js"></script>
</body>
</html>