$xl-1: (min-width: 1920px);

$l-1: (min-width: 1360px);

$m-1: (min-width: 1024px);

$s-1: (min-width: 720px) and not (min-resolution: 2dppx);

$xl: 'extra-large';
$l: 'large';
$m: 'medium';
$s: 'small';