@mixin roboto-font() {
  font-family: 'Roboto', sans-serif;
}

@mixin header-font() {
  font-size: 24px;

  @include breakpoint($m) {
    font-size: 30px;
  }

  @include breakpoint($l) {
    font-size: 36px;
  }
}

@mixin subheader-font() {
  font-size: 12px;

  @include breakpoint($m) {
    font-size: 20px;
  }
}