@import "components/decorative/picture-frame";
@import "breakpoints";
@import "colors";
@import "mixins";

.job__company {
  bottom: $image-border-circle-radius * 2;
  font-size: 40px;
  font-weight: 300;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;

  @include breakpoint($m) {
    font-size: 20px;
  }
}

.job__title {
  @include breakpoint($m) {
    font-size: 30px;
  }

  @include breakpoint($l) {
    font-size: 40px;
  }
}

.job__title,
.job__time-worked {
  margin: 0;
}

.job__time-worked {
  font-size: 35px;
  font-style: italic;

  @include breakpoint($m) {
    font-size: 15px;
    font-style: normal;
  }

  @include breakpoint($l) {
    font-size: 25px;
  }
}