@import "breakpoints";
@import "colors";
@import "mixins";

$job__logo-image-max-size: 150px;

$job-info-margin-percentage: 2.5%;
$job-info-margin: calc(#{$job-info-margin-percentage} + #{$standard-margin});
$job-info-margin-top: calc(#{$job-info-margin-percentage} + #{$standard-margin});
$job-info-side-margin: 12.5%;

.job {
  left: 0;
  position: absolute;
  top: 5%;

  @include breakpoint($landscape-ret) {
    left: 12.5%;
    top: 0;
  }

  @include breakpoint($m) {
    left: 12.5%;
    top: 0;
  }
}

.job__title {
  margin: 0 0 auto;
}

.job__company {
  font-weight: 300;
  margin: auto 0 0;
}

.job__time-worked {
  font-style: italic;
  margin: auto 0 $standard-margin;

  @include breakpoint($s) {
    font-style: normal;
  }
}

.job__company,
.job__time-worked {
  display: inline-block;
}

.job__logo {
  $job__logo-size-standard: 35%;
  margin-top: -13%;
  padding-top: $job__logo-size-standard;
  position: relative;
  width: $job__logo-size-standard;

  @include breakpoint($s) {
    $job__logo-size-small: 20%;
    padding-top: $job__logo-size-small;
    width: $job__logo-size-small;
  }

  @include breakpoint($m) {
    $job__logo-size-medium: 75%;
    padding-top: $job__logo-size-medium;
    width: $job__logo-size-medium;
  }
}

.job__logo-container {
  @include absolute-fill();
  @include flex-center();
}

.job__logo-image {
  height: auto;
  max-width: $job__logo-image-max-size;
}
