@import 'pages/all';

@import 'mixins';
@import 'job-information';
@import 'portfolio';
@import 'projects';

@include component-style('ng-transclude') {
  display: block;
}

.wip-container {
  @include absolute-fill();
  @include flex-center();
  position: fixed;
  z-index: 999999999999;
  pointer-events: none;
}

h1.wip {
  color: white;
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 75px;
  opacity: .3;
  text-shadow: 2px 2px 5px black;
  text-align: center;

  @include breakpoint($m) {
    font-size: 100px;
  }

  @include breakpoint($ret) {
    font-size: 75px;
  }
}

h1, h2 {
  @include header-font();
}

h3 {
  @include subheader-font();
}