@import 'pages/all';

@import 'mixins';
@import 'job-information';
@import 'portfolio';
@import 'projects';

h1 {
  font-size: 24px;

  @include breakpoint($ret) {
    font-size: 48px;
  }

  @include breakpoint($m) {
    font-size: 30px;
  }

  @include breakpoint($l) {
    font-size: 36px;
  }
}

h2 {
  font-size: 12px;

  @include breakpoint($m) {
    font-size: 20px;
  }

  @include breakpoint($m-ret) {
    font-size: 20px;
  }

  @include breakpoint($ret) {
    font-size: 40px;
  }
}