@import 'pages/all';

@import 'mixins';
@import 'job-information';
@import 'portfolio';
@import 'projects';

h1 {
  font-size: 3em;

  @include breakpoint($m) {
    font-size: 2.25em;
  }
}

h2 {
  font-size: 2em;

  @include breakpoint($m) {
    font-size: 1.25em;
  }
}