@mixin breakpoint($media-query) {
  @media #{$media-query} {
    @content;
  }
}

@mixin component-style($component-names...) {
  @each $component-name in $component-names {
    #{$component-name} {
      @content;
    }
  }
}

%absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@mixin absolute-fill() {
  @extend %absolute-fill;
}

@mixin absolute-position-square($size) {
  position: absolute;
  height: $size;
  left: (100% - $size) / 2;
  top: (100% - $size) / 2;
  width: $size;
}

@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin roboto-font() {
  font-family: 'Roboto', sans-serif;
}

@mixin slant-grouping($numbers...) {
  $slant-offset: 3%;
  @each $number in $numbers {
    .slant-grouping--#{$number} {

      &:hover > * {
        @for $i from 1 through $number {
          &:nth-child(#{$i}) {
            @if $i <= ($number / 2) {
              left: 0;
            }
            @if $i > ($number / 2) {
              right: 0;
            }
          }
        }
      }

      & > * {
        position: relative;
        transition: left 500ms, right 500ms;

        $total-offset: $number * ($slant-offset - 1);
        $total-offset-one-side: $total-offset / 2;
        @for $i from 1 through $number {
          $iMinus: $i - 1;
          &:nth-child(#{$i}) {

            @if $i <= ($number / 2) {
              left: -$total-offset-one-side + ($iMinus * $slant-offset);
            }
            @if $i > ($number / 2) {
              right: -$total-offset-one-side +
                  (($number - $iMinus - 1) * $slant-offset);
            }
          }
        }
      }
    }
  }
}

$transition-time: .75s;

@mixin standard-transition() {
  transition: all $transition-time;
}

@mixin transition-delay() {
  transition-delay: $transition-time;
}