@import 'colors';
@import 'mixins';
@import "components/decorative/picture-frame";

$hr-thickness: 5px;

@include slant-grouping(4);

@include component-style('portfolio-section') {
  display: inline-block;
  float: left;
  height: 75%;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  width: 40%;

  &:nth-child(2) {
    max-width: 750px;
    width: 60%;
  }
}

@include component-style('portfolio-section-container') {
  @include absolute-fill();
  display: block;
  margin: 5%;
  overflow: hidden;
}

@include component-style('portfolio-content') {
  @include absolute-fill();
  margin: 50px;
}

@include component-style('portfolio-page') {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  @mixin page-coloring(
    $page-color-a, $page-color-b, $flex-direction, $link-color) {
    background-color: $page-color-a;
    color: $page-color-b;
    flex-direction: $flex-direction;
    stroke: currentColor;
    fill: currentColor;

    hr,
    .picture-frame__border {
      background: $page-color-b;
    }

    .picture-frame__corner {
      background: $page-color-a;
      border-color: $page-color-b;
    }

    a {
      color: $link-color;
    }
  }

  &:nth-child(odd) {
    @include page-coloring($color-b, $color-a, row, $link-color-b);
  }

  &:nth-child(even) {
    @include page-coloring($color-a, $color-b, row-reverse, $link-color-a);
  }
}

@include component-style('portfolio-page-image') {
  @include absolute-fill();
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $image-border-circle-radius * 2;
}

.portfolio {
  @include absolute-fill();
  @include roboto-font();
  font-size: 25px;
  height: 100%;
  width: 100%;

  a {
    text-decoration: none;
    transition: transform 500ms, text-shadow 500ms;
    &:hover {
      transform: translate(-1px, -1px);
      text-decoration: underline;
    }
  }

  hr {
    border: none;
    height: $hr-thickness;
    position: relative;
  }

  h1,
  h2,
  h3 {
    @include rokkitt-font();
  }
}

.fine-print {
  font-size: 10px;
}
