@import 'breakpoints';
@import 'colors';
@import 'mixins';
@import 'projects';

$medium-breakpoint-section-margin: 3% 5%;
$large-breakpoint-section-margin: 5%;

@include slant-grouping(4);

@include component-style('portfolio-page-content') {
  display: block;
}

@include component-style('portfolio-page') {
  display: block;
  height: 100%;
  width: 100%;

  @mixin page-coloring($page-color-a, $page-color-b, $link-color) {
    background-color: $page-color-a;
    color: $page-color-a;
    stroke: currentColor;
    fill: currentColor;

    @include breakpoint($m) {
      @include component-style('portfolio-section') {
        &:nth-child(1) {
          margin-right: 0;
        }
        &:nth-child(2) {
          margin-left: 0;
        }
      }
    }

    .job__title,
    .job__time-worked {
      color: $page-color-b;
    }

    $job-information-margin: $standard-margin;

    .job__title {
      margin: $job-information-margin $job-information-margin auto;
    }

    .job__time-worked {
      margin: auto $job-information-margin $job-information-margin;
    }

    hr {
      background: $page-color-b;
    }

    @include component-style('portfolio-page-image') {
      background: $page-color-b;
  }

    a {
      color: $link-color;
      stroke: $link-color;
      fill: $link-color;
    }
  }

  &:nth-child(odd) {
    @include page-coloring($color-b, $color-a, $link-color-b);
    $dark-colors: (
            #C8C8C8,
            #F8F8F8,
            #FFFFFF,
            #DFDFDF,
            #E8E8E8,
            #EFEFEF,
            #D8D8D8,
    );

    @include component-style('project') {
      @for $i from 1 through $total-project-count {
        &:nth-child(#{$i}) .project__container {
          background-color: nth($dark-colors, $i % length($dark-colors) + 1);
          color: $color-b;
        }
      }
    }
  }

  &:nth-child(even) {
    @include page-coloring($color-a, $color-b, $link-color-a);
    $dark-colors: (
            #202020,
            #000000,
            #484848,
            #303030,
            #080808,
            #282828,
            #101010,
            #181818,
            #383838,
            #404040,
    );

    @include component-style('project') {
      @for $i from 1 through $total-project-count {
        &:nth-child(#{$i}) .project__container {
          background-color: nth($dark-colors, $i % length($dark-colors) + 1);
          color: $color-a;
        }
      }
    }
  }
}

.portfolio-page-container {
  @include flex-center();
  flex-direction: column;
  height: calc(100% - 10vw);
  padding: 5%;
  position: relative;
  width: 90%;
  z-index: 50;

  @include breakpoint($m) {
    flex-direction: row;
  }
}

@include component-style('portfolio-section') {
  $portfolio-section-mobile-max-side-length: calc(50vh - 10vw);
  display: inline-block;
  flex: 1;
  max-height: $portfolio-section-mobile-max-side-length;
  max-width: $portfolio-section-mobile-max-side-length;
  padding-top: 50%;
  position: relative;
  width: 100%;

  @include breakpoint($m) {
    max-width: none;
    width: 50%;
  }
}

@include component-style('portfolio-section-container') {
  @include absolute-fill();
  display: block;
}

@include component-style('portfolio-content') {
  @include absolute-fill();
}

@include component-style('portfolio-page-image') {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
}

.portfolio {
  @include absolute-fill();
  @include roboto-font();
  height: 100%;
  width: 100%;

  a {
    text-decoration: none;
    transition: transform 500ms, text-shadow 500ms;
    &:hover {
      transform: translate(-1px, -1px);
      text-decoration: underline;
      filter: brightness(125%);
    }
  }

  hr {
    border: none;
    height: 5px;
    position: relative;

    @include breakpoint($m) {
      height: 3px;
    }

    @include breakpoint($l) {
      height: 5px;
    }
  }

  h1,
  h2,
  h3 {
    font-weight: 400;
  }
}

.fine-print {
  font-size: .25em;
}

.portfolio__navigation {
  align-items: center;
  display: flex;
  font-size: 2em;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  ul li {
    color: #999;

    &:hover {
      color: #ccc;
    }
  }
}
