@import 'breakpoints';
@import 'colors';
@import 'mixins';
@import "components/decorative/picture-frame";

$medium-breakpoint-section-margin: 3% 5%;
$large-breakpoint-section-margin: 5%;

@include slant-grouping(4);

@include component-style('portfolio-page') {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 5vw);
  justify-content: center;
  padding: 5% calc(5% + 50px) 5% 5%;
  position: relative;
  width: calc(90% - 50px);
  z-index: 50;

  @mixin page-coloring(
    $page-color-a, $page-color-b, $flex-direction, $link-color) {
    background-color: $page-color-a;
    color: $page-color-b;
    stroke: currentColor;
    fill: currentColor;

    @include breakpoint($m) {
      flex-direction: $flex-direction;

      @include component-style('portfolio-section') {
        @if $flex-direction == row {
          &:nth-child(1) {
            margin-right: 0;
          }
          &:nth-child(2) {
            margin-left: 0;
          }
        }

        @if $flex-direction == row-reverse {
          &:nth-child(1) {
            margin-left: 0;
          }
          &:nth-child(2) {
            margin-right: 0;
          }
        }
      }
    }

    hr,
    .picture-frame__border {
      background: $page-color-b;
    }

    @include component-style('portfolio-page-image') {
      background: $page-color-b;
    }

    .picture-frame__corner {
      background: $page-color-a;
      border-color: $page-color-b;
    }

    .job__company {
      color: $page-color-a;
    }

    a {
      color: $link-color;
      stroke: $link-color;
      fill: $link-color;
    }
  }

  &:nth-child(odd) {
    @include page-coloring($color-b, $color-a, row, $link-color-b);
  }

  &:nth-child(even) {
    @include page-coloring($color-a, $color-b, row-reverse, $link-color-a);
  }
}

@include component-style('portfolio-section') {
  display: inline-block;
  flex: 1;
  float: left;
  height: 75%;
  overflow: hidden;
  position: relative;
  width: 90%;

  &:nth-child(1) {
    margin-top: 25px;
  }

  &:nth-child(2) {
    flex: 2;
  }

  @include breakpoint($m) {
    max-width: 500px;
    width: 40%;

    &:nth-child(1) {
      margin-top: 0;
    }

    &:nth-child(2) {
      flex: 1;
      max-width: 750px;
      width: 60%;
    }
  }
}

@include component-style('portfolio-section-container') {
  @include absolute-fill();
  display: block;
  overflow: hidden;
}

@include component-style('portfolio-content') {
  @include absolute-fill();
  margin: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}

@include component-style('portfolio-page-image') {
  @include absolute-fill();
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $image-border-circle-radius * 2;
}

.portfolio {
  @include absolute-fill();
  @include roboto-font();
  font-size: 25px;
  height: 100%;
  width: 100%;

  a {
    text-decoration: none;
    transition: transform 500ms, text-shadow 500ms;
    &:hover {
      transform: translate(-1px, -1px);
      text-decoration: underline;
      filter: brightness(125%);
    }
  }

  hr {
    border: none;
    height: 5px;
    position: relative;

    @include breakpoint($m) {
      height: 3px;
    }

    @include breakpoint($l) {
      height: 5px;
    }
  }

  h1,
  h2,
  h3 {
    font-weight: 400;
  }
}

.fine-print {
  font-size: 10px;
}

.portfolio__navigation {
  align-items: center;
  display: flex;
  font-size: 60px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  ul li {
    color: #999;

    &:hover {
      color: #ccc;
    }
  }
}
