@import "breakpoints";
@import "mixins";
@import "components/decorative/picture-frame";

.projects {
  margin: 22px 0;

  @include breakpoint($m) {
    margin: 10px 0;
  }

  @include breakpoint($l) {
    margin: 20px 0;
  }
}

@include component-style('project') {
  display: block;
  margin: 25px 0;

  @include breakpoint($m) {
    margin: 10px 0;
  }

  @include breakpoint($l) {
    margin: 15px 0;
  }

  &:hover {
    .project__details-toggle-arrow {
      transform: rotate(-3deg) scale(1.05);
    }
  }
}

.project__title {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 40px;
  height: 35px;

  @include breakpoint($m) {
    font-size: 20px;
  }
}

.project__details {
  font-size: 32px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s, opacity 0.5s;

  .project__link {
    display: inline-block;
    margin-bottom: 15px;
  }

  @include breakpoint($m) {
    font-size: 14px;
    line-height: 18px;

    .project__link {
      display: none;
    }
  }

  @include breakpoint($l) {
    font-size: 16px;
    line-height: 20px;
  }
}

.project__details-toggle-arrow {
  height: 20px;
  margin: 0 10px;
  transform: rotate(0deg);
  transition: transform 300ms;
  width: 20px;
}

.project__link {
  $standard-project-link-font-size: 30px;

  display: none;
  font-size: $standard-project-link-font-size;
  position: relative;
  z-index: 99;

  a {
    display: flex;
    align-items: center;
  }

  .project__link-arrow {
    height: $standard-project-link-font-size;
    margin-left: 10px;
    width: $standard-project-link-font-size;
  }

  @include breakpoint($m) {
    $large-project-link-font-size: 14px;

    display: inline-block;
    font-size: $large-project-link-font-size;

    .project__link-arrow {
      margin-left: 5px;
      height: $large-project-link-font-size;
      width: $large-project-link-font-size;
    }
  }
}

.project__name-and-link {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.project__name {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.project__expand-button-container {
  position: relative;
}

.project__expand-button {
  @include absolute-fill();
  cursor: pointer;
  height: 100%;
  margin: 0;
  opacity: 0;
  width: 100%;
  z-index: 0;

  &:checked {
    display: none;

    & ~ .project__title {
      cursor: default;

      .project__details-toggle-arrow {
        transform: rotate(90deg);
      }
    }

    & ~ .project__details {
      max-height: 310px;
      opacity: 1;
      transition: max-height 0.5s, opacity 0.5s;

      @include breakpoint($m) {
        max-height: 100px;
      }
    }
  }
}
