@import "breakpoints";
@import "mixins";

$total-project-count: 14;
$fractal-size-factor: .5;
$icon-fade-time: .5s;

.project__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 100;

  &:hover {
    z-index: 1001;
    ~ .project__container {
      filter: contrast(80%) brightness(115%);
      z-index: 1000;
    }
  }
}

project.hero-cta {
  .project__toggle:hover ~ .project__container,
  .project__container:hover {
    .project__icon {
      opacity: .5;
    }
  }
}

.project__toggle:hover ~ .project__container,
.project__container:hover {
  .project__icon {
    opacity: 0.05;
  }

  .project__title.project__title--with-icon .project__title-line {
    opacity: 1;
  }
}

.project__toggle-label {
  @include standard-transition();
  @include flex-center();
  font-size: 25px;
  height: 5%;
  opacity: 0;
  position: absolute;
  right: $standard-margin;
  text-align: center;
  top: $standard-margin;
  transition: opacity $transition-time;
  vertical-align: middle;
  width: 5%;
}

@function get-square-size($square-number) {
  $square-size: 100% * $fractal-size-factor;
  $breakpoint: 2;
  $current-set-size: 2;
  @for $i from 1 through $square-number {
    @if $i > $breakpoint {
      $current-set-size: $current-set-size * 2;
      $breakpoint: $breakpoint + $current-set-size;
      $square-size: $square-size * $fractal-size-factor;
    }
  }
  @return $square-size;
}

@function get-square-x-pos($square-number) {
  $set-pos: 0;
  $square-size: 100%;
  $breakpoint: 0;
  $left-start: -100%;

  @for $i from 1 through $square-number {
    $set-pos: $set-pos + 1;
    @if $i > $breakpoint {
      $set-pos: 0;
      $breakpoint: $breakpoint + $i;
      $left-start: $left-start + $square-size;
      $square-size: $square-size * $fractal-size-factor;
    }
  }
  @return $left-start - ($set-pos * $square-size / $fractal-size-factor);
}

@function get-square-y-pos($square-number) {
  $set-pos: 0;
  $square-size: 100%;
  $breakpoint: 0;

  @for $i from 1 through $square-number {
    $set-pos: $set-pos + 1;
    @if $i > $breakpoint {
      $set-pos: 0;
      $breakpoint: $breakpoint + $i;
      $square-size: $square-size * $fractal-size-factor;
    }
  }
  @return $set-pos * $square-size / $fractal-size-factor;
}

@include component-style('project') {
  @include absolute-fill();
  @include standard-transition();
  display: block;
  pointer-events: none;

  &.project--empty {
    z-index: 0;

    .project__toggle {
      display: none;
    }
    .project__container {
      filter: contrast(80%);
    }
  }

  &:nth-child(1) {
    display: none;
  }

  @for $i from 1 through $total-project-count {
    &:nth-child(#{$i}) {
      .project__toggle,
      .project__container {
        $square-size: get-square-size($i);
        height: $square-size;
        width: $square-size;

        @if ($i % 2 == 0) {
          $x-pos: get-square-x-pos($i / 2);
          $y-pos: get-square-y-pos($i / 2);
          left: $x-pos;
          top: $y-pos;
        }

        @if ($i % 2 == 1) {
          $x-pos: get-square-x-pos(($i + 1) / 2);
          $y-pos: get-square-y-pos(($i + 1) / 2);
          left: 100% - $square-size - $x-pos;
          right: $x-pos - 100%;
          top: -$y-pos -$square-size;
          bottom: 100% - $y-pos;

          @include breakpoint($m) {
            left: -$x-pos - $square-size;
            right: $x-pos;
            top: 100% - $y-pos - $square-size;
            bottom: $y-pos;
          }
        }
      }
    }
  }

  .project__toggle:checked {
    &,
    & + .project__toggle-label {
      bottom: auto !important;
      height: 5% !important;
      left: auto !important;
      right: $standard-margin !important;
      top: calc(-100% + #{$standard-margin}) !important;
      width: 5% !important;
      z-index: 1001;

      @include breakpoint($m) {
        top: $standard-margin !important;
      }
    }

    & + .project__toggle-label {
      opacity: 1;
    }

    &:hover ~ .project__container {
      filter: brightness(100%) contrast(100%);
    }

    & ~ .project__container {
      @include absolute-fill();
      $expanded-project-container-padding: 5%;
      height: 200% - ($expanded-project-container-padding * 2);
      padding: $expanded-project-container-padding;
      top: -100%;
      transform: scale(1);
      transition: filter $transition-time,
        background-color $transition-time,
        left $transition-time,
        top $transition-time,
        width $transition-time,
        height $transition-time,
        padding $transition-time;
      width: 100% - ($expanded-project-container-padding * 2);
      z-index: 1000;

      @include breakpoint($m) {
        height: 100% - ($expanded-project-container-padding * 2);
        left: -100%;
        top: 0;
        width: 200% - ($expanded-project-container-padding * 2);
      }

      .project__title {
        opacity: 0;
      }

      .project__title--inline {
        opacity: 1;
        transition-delay: 0s;
      }

      .project__title-line {
        display: inline-block;
        margin-right: 6px;
      }

      .project__details {
        @include transition-delay();
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }

      .project__icon {
        height: 0;
        left: 0;
        margin: 1.5%;
        opacity: 1;
        padding-top: 5%;
        top: 0;
        width: 5%;

        img {
          &,
          &:hover {
            height: 100%;
            left: 0;
            max-height: 100px;
            max-width: 100px;
            transform: rotate(0deg) scale(1);
            top: 0;
            width: 100%;
          }
        }
      }
    }
  }
}

.project__container,
.project__toggle {
  pointer-events: all;
}

.project__container {
  position: absolute;
  transition: filter $transition-time,
    background-color $transition-time,
    left $transition-time $transition-time,
    top $transition-time $transition-time,
    width $transition-time $transition-time,
    height $transition-time $transition-time,
    padding $transition-time $transition-time;
  margin: 0;
  overflow: hidden;
  z-index: 20;
}

.project__title {
  @include absolute-fill();
  @include flex-center();
  flex-direction: column;
  font-size: 15px;
  margin: 0;
  opacity: 1;
  text-align: center;
  transition: opacity $transition-time;

  &.project__title--with-icon .project__title-line {
    opacity: 0;
    transition: opacity $icon-fade-time;
  }

  @include breakpoint($m) {
    font-size: 20px;
    height: calc(100% - #{$standard-margin * 2});
    margin: $standard-margin;
    width: calc(100% - #{$standard-margin * 2});
  }

  @include breakpoint($ret) {
    font-size: 28px;
  }
}

.project__title--inline {
  display: block;
  font-size: 44px;
  height: auto;
  margin: $standard-margin;
  opacity: 0;
  position: relative;
  text-align: left;
  width: auto;

  @include breakpoint($m) {
    font-size: 32px;
  }

  @include breakpoint($ret) {
    font-size: 64px;
  }
}

.project__details {
  @include standard-transition();
  font-size: 22px;
  margin: $standard-margin;
  opacity: 0;
  transform: translate3d(0, $standard-margin, 0);
  transition-delay: 0s;

  @include breakpoint($m) {
    font-size: 16px;
  }

  @include breakpoint($ret) {
    font-size: 32px;
  }

  .project__link {
    display: inline-block;
    margin-bottom: 15px;
  }
}

.project__link {
  $standard-project-link-font-size: 30px;

  display: none;
  font-size: $standard-project-link-font-size;
  position: relative;
  z-index: 99;

  a {
    display: flex;
    align-items: center;
  }

  .project__link-arrow {
    height: $standard-project-link-font-size;
    margin-left: 10px;
    width: $standard-project-link-font-size;
  }

  @include breakpoint($m) {
    $large-project-link-font-size: 14px;

    display: inline-block;
    font-size: $large-project-link-font-size;

    .project__link-arrow {
      margin-left: 5px;
      height: $large-project-link-font-size;
      width: $large-project-link-font-size;
    }
  }
}

.project__name-and-link {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.project__name {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.project__full-bleed-link {
  @include absolute-fill();
  display: block;
}

.project__icon-container {
  @include absolute-fill();
  @include flex-center();
}

.project__icon {
  $icon-size: 50%;
  position: absolute;
  max-width: $icon-size;
  max-height: $icon-size;
  margin: auto;
  opacity: 1;
  transition: opacity $icon-fade-time;
}
