@import "mixins";
@import "components/decorative/picture-frame";

.projects {
  margin: 22px 0;
}

@include component-style('project') {
  display: block;
  margin: 15px 0;

  &:hover {
    .project__details-toggle-arrow {
      transform: rotate(-3deg) scale(1.05);
    }
  }
}

.project__title {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 35px;
}

.project__details {
  max-height: 0;
  opacity: 0;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  transition: max-height 0.5s, opacity 0.5s;
}

.project__details-toggle-arrow {
  height: 20px;
  margin: 0 10px;
  transform: rotate(0deg);
  transition: transform 300ms;
  width: 20px;
}

.project__link {
  font-size: 14px;
  position: relative;
  z-index: 99;
}

.project__name-and-link {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.project__name {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.project__expand-button-container {
  position: relative;
}

.project__expand-button {
  @include absolute-fill();
  cursor: pointer;
  height: 100%;
  margin: 0;
  opacity: 0;
  width: 100%;
  z-index: 0;

  &:checked {
    display: none;

    & ~ .project__title {
      cursor: default;

      .project__details-toggle-arrow {
        transform: rotate(90deg);
      }
    }

    & ~ .project__details {
      max-height: 100px;
      opacity: 1;
      transition: max-height 0.5s, opacity 0.5s;
    }
  }
}
